<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p><%= @idea.description %>
          <br>
        <button><a href = "http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/ideas">Back</a></button>
      </div>
    </div>
  </div>
</div>